#
# Plugin DI configuration
#
# @license       More in LICENSE.md
# @copyright     https://www.fastybird.com
# @author        Adam Kadlec <adam.kadlec@fastybird.com>
# @package       FastyBird:RedisDbPlugin!
# @subpackage    config
# @since         0.1.0
#
# @date          19.07.20

php:
    date.timezone: Europe/Prague

extensions:
    ipubPhone               : IPub\Phone\DI\PhoneExtension
    fbDateTimeFactory       : FastyBird\DateTimeFactory\DI\DateTimeFactoryExtension
    fbBootstrapLibrary      : FastyBird\Library\Bootstrap\DI\BootstrapExtension
    fbMetadataLibrary       : FastyBird\Library\Metadata\DI\MetadataExtension
    fbExchangeLibrary       : FastyBird\Library\Exchange\DI\ExchangeExtension

services:
    - {
      create: React\EventLoop\Factory::create()
      type: React\EventLoop\LoopInterface
    }
