parameters:
    level: max

    paths:
        - ../src/

    ignoreErrors:
        -
            message: '#^Instanceof between string\|null and Predis\\Response\\ResponseInterface will always evaluate to false.#'
            path: ../src/Clients/Client.php
            count: 1
