parameters:
    level: max

    paths:
        - ../src/

    stubFiles:
        - ../tests/stubs/PromiseInterface.stub
        - ../tests/stubs/ExtendedPromiseInterface.stub
        - ../tests/stubs/Client.stub
        - ../tests/stubs/EventEmitterInterface.stub
